button{
    color: rgb(44, 46, 100);
    
}
.obz{
    /* height: 500px; */
    display: flex;
    object-fit: cover;
    width: fit-content;
    flex-wrap: wrap;
    gap: 10px;
    /* margin: 0 70px 0 70px; */
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
Link{
    text-decoration: none;
}
.buton{
    display: flex;
    justify-content: center;
    align-items: center;
}
