/* .theme{
    margin: 100px 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/* .innput{
    margin: px 0px 0px 0px;
}  */
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    flex-direction: column;
}
.theme{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
